{
  "serverURI": "%hostname",
  "serverWebPort": 8090,
  "clientId": "%passport_rp_client_id",
  "keyPath": "%passport_rp_client_cert_fn",
  "keyId": "%passport_rp_client_cert_alias",
  "keyAlg": "%passport_rp_client_cert_alg",
  "umaScope": "https://%hostname/oxauth/restv1/uma/scopes/passport_access",
  "passportConfigAPI": "https://%hostname/identity/restv1/passport/config",
  "applicationStartpoint": "https://%hostname/oxauth/auth/passport/passportlogin.htm",
  "applicationEndpoint": "https://%hostname/oxauth/postlogin.htm",
  "logLevel": "info",
  "activeMQConf": {
    "isEnabled": false,
    "host": "",
    "username": "",
    "password": "",
    "port": ""
  }
}
