{
	"configurationEndpoint": "https://%(hostname)s/identity/restv1/passport/config",
	"failureRedirectUrl": "%(failure_redirect_url)s",
	"logLevel": "info",
	"consoleLogOnly": false,
	"clientId": "%(passport_rp_client_id)s",
	"keyPath": "%(passport_rp_client_cert_fn)s",
	"keyId": "%(passport_rp_client_cert_alias)s",
	"keyAlg": "%(passport_rp_client_cert_alg)s"
}
